.calcBody {
    margin: 0 auto;
    border: 2px solid black;
    padding: 5px;
    background: black;
    width: 320px;
    position: relative;
}

.display {
    font-size: 25px;
    color: white;
    text-align: right;
    line-height: 35px;
    background: black;
}

.button {
    position: relative;
    height: 65px;
    width: 80px;
    color: white;
    outline: 1px solid white;
    border: none;
    background: gray;
    font-size: 20px;
    cursor: default;
}

.button:hover {
    color: black;
    outline: .05em solid grey;
    z-index: 3;
}