/* colors */

/* Rich Black #001011
    Rich Black 2 #093a3e
    Verdigris #3AAFB9
    Electric blue #64E9EE
    Pale Cerulean #97C8EB
*/

.calc {
    margin: 50px auto;
    border: 2px solid black;
    width: 200px;
    display: grid;
}

.btn {
    border: none;
    width: 100%;
    margin: 0;
    height: 40px;
    color: #001011;
    background: #97C8EB;
}

td {
    padding: 0;
}

#clear {
    background: #64E9EE;
}

#equals {
    background: #64E9EE;
}

.display {
    width: 100%;
    height: 30px;
    font-size: 1.5em;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}